@using IntProgFinalProject.Models.Entity
@model List<TBLJOBOPENINGS>
@{
    ViewBag.Title = "Ilanlarım";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}






<!DOCTYPE html>
<html>
<head>
    <style>

        #container{
            text-align:center;
        }
    </style>

</head>
<body class="hold-transition sidebar-mini">
    <h1 style="text-align:center;">İLANLARIM</h1>
    <hr style="height:2px;border-width:0; width:100%; color:gray; background-color:gray">
    <!-- /.navbar -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div style="border:1px solid gray;" class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">

                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 style="margin-left:60px" class="lead"><b> @item.Header</b></h2>
                                            <div class="col-5 text-center">
                                                <img src="~/img/job.jpg" alt="" class="img-rounded" style="height:250px; width:250px;">
                                            </div>
                                            <br />
                                            <ul style=" list-style-type: none; margin-left:20px" class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span><p style="color:black;">@item.TBLCOMPANIES.Name</p></li>
                                                <hr />
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span><p style="color:black;">@item.Category</p></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div id="container" style="margin-top:25px; margin-left:20px;" class="text-left">
                                        <a href="#" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments"></i>
                                        </a>
                                        <a href="/Company/Ilangetir/@item.ID" style="display:inline-block; width:auto;" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> İlanı Görüntüle
                                        </a>
                                        <a href="/Company/IlanSil/@item.ID" style=" display: inline-block; width: auto;" class="btn btn-sm btn-danger">
                                            <i class="fas fa-user"></i> İlanı Sil
                                        </a>

                                    </div>
                                </div>

                            </div>
                        </div>

                    }
                    <button style="position: absolute; left:10px;" class="btn btn-sm btn-primary" type="submit" data-toggle="modal" data-target="#Modal3">
                        <i class="fas fa-user"></i> Yeni İlan Ekle
                    </button>
                    <div class="modal" id="Modal3">

                        <div class="modal-dialog">

                            <div class="modal-content">

                                <div class="modal-header">
                                    <h2 class="modal-title">Yeni İlan Ekleme Ekranı</h2>
                                </div>
                                <form action="/Company/Ilanekle" method="post">
                                    <div class="modal-body">
                                        <label>Ilan Başlığı</label>
                                        <input type="text" class="form-control" name="Header" />
                                        <label style="display:none;">Ilan Sahibi</label>
                                        <input style="display:none;" type="text" readonly class="form-control" name="Owner" value="@ViewBag.compid" />
                                        <label>Ilan Hakkında</label>
                                        <input type="text" class="form-control" name="About" />

                                        <label>Ilan Kategorisi</label>
                                        <input type="text" class="form-control" name="Category" />
                                        <label style="display:none;">Ilan Sektörü</label>
                                        <input style="display:none;" type="text" readonly class="form-control" name="Sector" value="@ViewBag.compsector" />
                                    </div>
                                    <div style="margin:15px;">
                                        <button class="btn btn-info">İlan Ekle</button>
                                    </div>

                                </form>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</body>
</html>